<footer>
	<address>
		<div class="logo">The University of Vermont</div>
		<div class="address_phone">
			<span class="address">Burlington, VT 05405</span>
			<span class="telephone"><a href="tel:+18026563131">(802) 656-3131</a></span>
		</div>
		<div class="link"><a href="https://www.uvm.edu/contact_uvm/" id="contactus">Contact UVM</a> &copy; 2015</div>
		<div class="clear-fix"></div>
	</address>
</footer>
</div>
<script src="https://www.uvm.edu/www/js/rwd-menus.js"></script>
</body>
</html>
