<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="utf-8" />
		<link charset="utf-8" type="text/css" href="global.css" rel="stylesheet">
		<link charset="utf-8" type="text/css" href="overrides.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		[% INCLUDE site_header.tmpl %]
	</head>
<body>
