		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>University of Vermont YubiKey provisioning</title>
		<script type="text/javascript" src="https://www.uvm.edu/sites/all/themes/uvmbase/js/uvm_directory_find_people.js"></script>
		<link rel="stylesheet" href="https://www.uvm.edu/www/css/uvm2013rwd.css" media="screen" />
		<link rel="stylesheet" href="https://www.uvm.edu/www/css/uvm2013print.css" media="print" />
		<meta name="author" content="University of Vermont" />
		<meta name="generator" content="UVM Web Publishing System" />
		<link rel="shortcut icon" href="https://www.uvm.edu/www/images/templates/favicon.ico" />
