<div id="frame">
	<div id="skip">
		<a href="/~erp/portal/saa/pslogin/#bannermenu" onclick="_gaq.push(['_trackEvent', 'Links', 'Accessibility', 'Skip to main nav']);">Skip to main navigation</a>
		<a href="/~erp/portal/saa/pslogin/#local" onclick="_gaq.push(['_trackEvent', 'Links', 'Accessibility', 'Skip to local nav']);">Skip to local navigation</a>
		<a href="/~erp/portal/saa/pslogin/#uvmmaincontent" onclick="_gaq.push(['_trackEvent', 'Links', 'Accessibility', 'Skip to main content']);">Skip to main content</a>
	</div>
	<header>
		<nav id="topnav">
			<div id="mid-wrapper">
				<div id="tools_and_search">
					<!--<ul>
						<li class="apply"><a href="https://www.uvm.edu/admissions/">apply</a></li>
						<li id="uvm-search">Search</li>
						<li class="myuvm"><a href="https://myuvm.uvm.edu/cp/home/displaylogin" title="Log into the myUVM portal" onclick="_gaq.push(['_trackEvent', 'Links', 'Internal', 'myUVM']);">myUVM</a></li>
					</ul>-->
				</div>
			</div>
			<!--<div id="toolswrapper">
				<div id="search">
					<div id="gcsepeople">
						<h2><label for="gsc-i-id1">Search Website</label></h2>
						<gcse:searchbox-only gname="uvm"></gcse:searchbox-only>
						<h2><label for="people-entry">Search Directory</label></h2>
						<div id="people">
							<table class="people-search-box" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td class="people-input">
											<input id="people-entry" class="people-input" type="text" lang="en" autocomplete="off" size="10" name="search" title="search" x-webkit-speech="" x-webkit-grammar="builtin:search" dir="ltr" spellcheck="false" style="outline: medium none;">
										</td>
										<td class="people-search-button">
											<input class="people-search-button" type="button" value="Search" title="search">
										</td>
										<td class="people-clear-button">
											<div class="people-clear-button" title="clear results">&nbsp;</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="az">
						<h2>A to Z</h2>
						<ul class="alpha azlist">
							<li><a href="/a_to_z#A">A</a></li>
							<li><a href="/a_to_z#B">B</a></li>
							<li><a href="/a_to_z#C">C</a></li>
							<li><a href="/a_to_z#D">D</a></li>
							<li><a href="/a_to_z#E">E</a></li>
							<li><a href="/a_to_z#F">F</a></li>
							<li><a href="/a_to_z#G">G</a></li>
							<li><a href="/a_to_z#H">H</a></li>
							<li><a href="/a_to_z#I">I</a></li>
							<li><a href="/a_to_z#J">J</a></li>
							<li><a href="/a_to_z#K">K</a></li>
							<li><a href="/a_to_z#L">L</a></li>
							<li><a href="/a_to_z#M">M</a></li>
							<li><a href="/a_to_z#N">N</a></li>
							<li><a href="/a_to_z#O">O</a></li>
							<li><a href="/a_to_z#P">P</a></li>
							<li><a href="/a_to_z#Q">Q</a></li>
							<li><a href="/a_to_z#R">R</a></li>
							<li><a href="/a_to_z#S">S</a></li>
							<li><a href="/a_to_z#T">T</a></li>
							<li><a href="/a_to_z#U">U</a></li>
							<li><a href="/a_to_z#V">V</a></li>
							<li><a href="/a_to_z#W">W</a></li>
							<li><a href="/a_to_z#X">X</a></li>
							<li><a href="/a_to_z#Y">Y</a></li>
							<li><a href="/a_to_z#Z">Z</a></li>
						</ul>
					</div>
				</div>
			</div>-->
		</nav>
		<h1><a href="/" accesskey="1" title="UVM Homepage shortcut key = 1"><span id="logo"><img src="/www/images/logos/uvmlogo-63865e.gif" alt="" /></span>University of Vermont</a></h1>
	</header>
	<div class="contentwrapper">
		<!--<nav class="localnav" id="local">
			<div class="homelink"><a href="">PeopleSoft</a></div>
			<div id="local-menu-icon">
				<button title="Access menu" data-target="" data-toggle="collapse" class="lmbtn lmbtn-navbar" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<ul>
				<li><a href="http://www.uvm.edu/hrs/?Page=skills/manuals/manuals.html&amp;SM=skills/skillsmenu.html">UVM PeopleSoft Mini Manuals</a></li>
				<li><a href="http://www.uvm.edu/hrs/?Page=skills/classes/peoplesoftclasses.html&amp;SM=skills/skillsmenu.html">UVM PeopleSoft Training Classes</a></li>
				<li><a href="https://footprints.uvm.edu/catalystgroup.html">Submit a Help Desk Ticket (Footprints)</a></li>
			</ul>
		</nav>-->
		<section class="maincontent">
			<article id="uvmmaincontent" class="uvmpage___default_php">
				<section id="contentBox">
					[% INCLUDE $rm_template %]
				</section>
			</article>
		</section>
	</div>
