body {
	font-family: helvetica, arial, sans-serif;
}

.ykPresent {
	color: #389441;
}

.ykMissing {
	color: #974B29;
}

#stage {
	margin: 0 auto;
	text-align: center;
}

#ykForm {
	background-color: #EFEDED;
	border-radius: .25em;
	margin: 0 auto;
	padding: 1em;
	width: 30em;
}

#ykForm > div {
	margin: 2em .5em;
}

#ykStatusContainer {
	font-size: 2em;
	margin: .5em .5em 1em .5em !important;
}

.btn {
	background-color: #FFFFFF;
	border: 1px solid #666666;
	border-radius: 3px;
	color: #666666;
}

.btn:active,.btn:hover {
	border: 1px solid #b85b32;
	background-color: #b85b32;
	color: #FFFFFF;
}

#netid {
	border: 1px solid #666666;
	border-radius: 3px;
	text-align: center;
}

fieldset {
	text-align: left;
}

#consoleOutput {
	background-color: #FFFFFF;
	/*border: 1px solid #666666;*/
	border-radius: 3px;
	font-family: monospace;
	height: 15em;
	overflow: auto;
	padding: .25em;
	text-align: left;
}
